name: Build

on: 
  pull_request:
  push:
    branches: [main]
    tags: ["v*.*.*"]

jobs:
  build:
    strategy:
      matrix:
        os: [windows-2022, macos-13, ubuntu-22.04]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Install Linux depencencies
        if: runner.os == 'linux'
        run: sudo apt update && sudo apt install -y libpulse-dev pipewire libasound2-dev libjack-dev

      - uses: secondlife/action-autobuild@v3
        with:
          addrsize: "64" 
  release:
    needs: build
    runs-on: [ubuntu-latest]
    if: startsWith(github.ref, 'refs/tags/v')
    steps:
      - uses: secondlife/action-autobuild-release@v3
        with:
          public: true
